body{
  display:flex;
  flex-direction: column;
  text-align: center;
}

.container{
  display: flex;
}
form{
  border: 10px solid;
  

}

.left-box{
  display: flex;
  flex-direction: column;
  background-color: rgb(213 212 212);
  width: 50%;
  float: left;
  text-align: left;
}


.right-box{
  border: 10px solid red;
  width: 50%;
  text-align: left;
}